/* typography */
body {
	font-family: 'Baskerville', 'Buenard', serif;
	font-size: 20px;
	line-height: 30px;
}

code {
	font-family: 'Menlo', monospace;
	font-size: 80%;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote {
	margin-left: 40px;
	color: #555;
}

:link {
	text-decoration: none;
}

hr {
	border: none;
	border-top: 1px solid #AAA;
	margin-left: 80px;
	margin-right: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 15px;
}
h2 {
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 15px;
}
h3 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
}

/* layout */
#shell {
	margin-left: auto;
	margin-right: auto;
	width: 840px;
}

#shell > * {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 10px;
}

#article,
#listing {
	padding-left: 50px;
}
h1, h2, h3, h4, h5, h6 {
	margin-left: -40px;
}

#article p,
#article pre,
#article ul,
#article ol,
#article dl,
#listing ul {
	margin-bottom: 15px;
}

#article pre {
	margin-left: 40px;
}

#article > p > img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#article ul {
	list-style-type: disc;
}
#article ol {
	list-style-type: decimal;
}

#article ul,
#article ol,
#article dl {
	padding-left: 40px;
}

#article dd {
	padding-left: 40px;
}

#breadcrumbs li {
	display: inline-block;
}
#breadcrumbs li.not-last:after {
	content: '•';
}